@model IEnumerable<ShopOnline.Models.DBObjects.Tva>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tva1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoryNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tva1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoryNavigation.IdCategory)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTva">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTva">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTva">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
