@model IEnumerable<ShopOnline.Models.CategoryModel>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categories</h1>

<h2>Categorii</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="btn-group-vertical">
                        <button class="btn btn-secondary mb-2" onclick="showProducts('@item.IdCategory')">Vezi produse</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="productsContainer"></div>

<script>
    function showProducts(categoryId) {
        // Apelează acțiunea ProductsByCategory pentru a obține produsele pentru categoria dată
        $.ajax({
            url: '/Home/ProductsByCategory',
            type: 'GET',
            data: { IdCategory: categoryId },
            success: function (data) {
                // Afișează produsele într-un container
                $('#productsContainer').html(data);
            },
            error: function () {
                alert('Eroare la încărcarea produselor.');
            }
        });
    }
</script>
