@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <div class="row" align="center">
        @foreach (var product in Model)
        {
            <div class="col-sm-2">
                <p><img src="@product.Image" alt="@product.Name" width="150" height="130"> </p>
                <p>@product.Name</p>
                <p>@product.Price</p>
                <a  asp-action="Details" asp-route-id="@product.IdProduct" class="btn btn-secondary mb-2">Details</a>
                <div class="col-6 text-end">
                    <a href="@Url.Action("AddItemShoppingCart", "Order", new { id = product.IdProduct })" class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Price @product.Price.ToString() Lei</a>
                </div>
            </div>
        }
    </div>
</div>