@model IEnumerable<ShopOnline.Models.ProductModel>
@{
    ViewData["Title"] = "ProductsByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h2>Produse din categoria @ViewBag.CategoryName</h2>

@foreach (var product in Model)
{
    <div>
        <h3>@product.Name</h3>
        <p>@product.Description</p>
        <p>Preț: @product.Price</p>
        <a asp-action="Details" asp-route-id="@product.IdProduct" class="btn btn-secondary mb-2">Details</a>

    </div>
}