@using ShopOnline.Data.ViewModels;
@using ShopOnline.Models;
@model ShoppingCartVM

@{
    ViewData["Title"] = "Shopping cart summary";
}



<div class="row" style="margin-top:7%">
    <div class="text-center">
        <h2>Your shopping cart summary</h2>
    </div>
    <div class="col-md-8 offset-md-2" style="margin-top:5%">
    <table class="table">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="align-middle">@item.Amount</td>
                    <td class="align-middle">@item.Product.Name</td>
                        <td class="align-middle">@item.Product.Price.ToString("") Lei</td>
                        <td class="align-middle">@((item.Amount * item.Product.Price).ToString("")) Lei </td>
                    <td class="align-middle">
                        <a class="text-center" asp-controller="Orders" asp-action="RemoveItemShoppingCart"
                               asp-route-id="@item.Product.IdProduct">
                                <i class="bi bi-cart-dash text-primary"></i>
                        </a>
                    <td class="align-middle">
                        <a class="text-center" asp-controller="Orders" asp-action="AddItemShoppingCart"
                               asp-route-id="@item.Product.IdProduct">
                                <i class="bi bi-cart-plus text-primary"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    
    
    <div class="text-lg-end">
        <div class="btn-group">
           
            
            <span style="padding:5px"></span>
            <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">
                Add more
            </a>
                <a class="btn btn-outline-success" asp-controller="Order" asp-action="CompleteOrder">
                    Place order
                </a>
            </div>
        </div>
    </div>
</div>

